.p1
{
background-color: white;
  border : solid 2px;
  color: black ; 
  margin: auto;
  text-align: center;
  text-decoration: none;               
  font-size: 150%;
  cursor: pointer;
  border-color: black;
  border-radius: 4px;
  width: 150px;
  }
.p2: hover
{

  background-color: RGB(200,165,75);
  background-color: white;
  border : solid 2px;
  color: black ; 
  margin: auto;
  text-align: center;
  text-decoration: none;               
  font-size: 150%;
  cursor: pointer;
  border-color: black;
  border-radius: 4px;
  width: 150px;
  }
.p3
{
background-color: white;
  border : solid 2px;
  color: black ; 
  margin: auto;
  text-align: center;
  text-decoration: none;               
  font-size: 150%;
  cursor: pointer;
  border-color: black;
  border-radius: 4px;
  width: 150px;
  }
.p4
{
background-color: white;
  border : solid 2px;
  color: black ; 
  margin: auto;
  text-align: center;
  text-decoration: none;               
  font-size: 150%;
  cursor: pointer;
  border-color: black;
  border-radius: 4px;
  width: 150px;
  }
